{% extends 'base_template.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block title %}
    StarInvest - Профиль
{% endblock %}
    
{% block content %}

    <div class="profile_container">
        <div class="header_profile">
            <div class="header_profile_info">
                <div class="profile_image" style="background-image: url('{{profile.avatar.url}}');"></div>
                <h2 class="header_profile_info_username">{{profile.username}}</h2>
                <div class="header_profile_info_status">{{profile.profile_status}}</div>
                <div class="header_profile_info_last_online"><span class="header_profile_info_last_online_znak">⚫</span> Был(а) в сети в 22:22</div>
                <div class="contacts_buttons">
                    <div class="contact_button contact_button_call">Позвонить</div>
                    <div class="contact_button contact_button_message">Написать</div>
                </div>
            </div>
        </div>
        <div class="profile_info">
            <h2>Информация</h2>
            <div class="profile_info_main_text">
                <div class="profile_info_main_text_container">
                    <div class="profile_info_main_text_carier">
                        <div class="profile_info_main_text_carier_item">
                            <h2>КАРЬЕРА</h2>
                            <span>Компания</span>
                            <span>Отрасль</span>
                            <span>Должность</span>
                            <span>Сайт компании</span>
                        </div>
                        <div class="profile_info_main_text_carier_item profile_info_main_text_carier_item-info">
                            <span>{{profile.company}}</span>
                            <span>{{profile.branch}}</span>
                            <span>{{profile.position_on_company}}</span>
                            <span>{{profile.site_company}}</span>
                        </div>
                    </div>
                    <div class="profile_info_main_text_about_i">
                        <h2>О СЕБЕ</h2>
                        <div class="profile_info_main_text_about_i_text">
                            {{profile.about_user}}
                        </div>
                    </div>
                </div>
                <div class="profile_info_sub_text_container">
                    <h2>ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ</h2>
                    <div class="profile_info_sub_text">
                        {{profile.about_user_sub_info}}
                    </div>
                </div>
            </div>
        </div>
        <div class="user_media user_media-projects">
            <h2>Проекты пользователя</h2>
            <div class="user_media-container">
                {% for project in projects %}
                    <div  class="item_container">
                        <div class="item">
                            <div class="item_category"><a class="item_category_a" href="#">{{project.category}}</a></div>
                            <a class="item_image_a" href="{% url 'project' project.id %}">
                                <img class="item_image" src="{{ project.images.first.image.url }}" alt="" >
                            </a>
                            <div class="item_info">
                                <h2 class="info_title"><a class="info_title_a" href="#">{{project.title}}</a></h2>
                                    <div class="info_metrics">
                                    <div class="metrics_metric metric_attachments">
                                        <span class="metric_help_text metric_attachments--help_text">Вложения</span>
                                        <span class="metric_info      metric_attachments--info metric_attachments--required_investment">{{project.required_investment}} ₽</span>
                                    </div>
                                    <div class="metrics_metric metric_attachments">
                                        <span class="metric_help_text         metric_profitability--help_text">Доходность</span>
                                        <span class="metric_profitability     metric_profitability--info">{{project.profit_number}}% в {{project.profit_parametr}}</span>
                                    </div>
                                    <div class="metrics_metric metric_income">
                                        <span class="metric_info">
                                            {% if project.profit %}
                                                Прибыль есть
                                            {% else %}
                                                Без прибыли
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="user_media user_media-photos">
            <h2>Фотографии пользователя</h2>
            <div class="user_media-container">
                {% for photo in profile.images.all %}
                    <div class="item_container item_container-photo">
                        <div class="item_container_image" style="background-image: url('{{photo.image.url}}');"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="user_media user_media-videos">
            <h2>Видео пользователя</h2>
            <div class="user_media-container user_media-container_videos">
                <div class="item_container item_container-video">
                    <div class="item_container_video" style="background-image: url('/static/img/example_photo_video_profile.png');"></div>
                </div>
                <div class="item_container item_container-video">
                    <div class="item_container_video" style="background-image: url('/static/img/example_photo_video_profile.png');"></div>
                </div>
                <div class="item_container item_container-video">
                    <div class="item_container_video" style="background-image: url('/static/img/example_photo_video_profile.png');"></div>
                </div>
                <div class="item_container item_container-video">
                    <div class="item_container_video" style="background-image: url('/static/img/example_photo_video_profile.png');"></div>
                </div>
                <div class="item_container item_container-video">
                    <div class="item_container_video" style="background-image: url('/static/img/example_photo_video_profile.png');"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        if ({{profile.user.id}} != {{user.id}}){
            document.getElementsByClassName('change_profile')[0].remove()
        }
        let required_investment = document.querySelectorAll('.metric_attachments--required_investment')
        for (let i=0; i < required_investment.length; i++) {
            console.log(+required_investment[i].innerHTML)
            let numer_required_investment = required_investment[i].innerHTML.split(' ')[0]
            if (+numer_required_investment > 999999 && +numer_required_investment < 99999999){
                required_investment[i].innerHTML = String(numer_required_investment).slice(0,-6) + ' млн ₽' 
            }
        }


    </script>


{% endblock %}